@model IEnumerable<MeuSite.Models.temasala>

@{
    ViewBag.Title = "Pesquisando salas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<head>
    <link href="~/Css/PesquisaSalas.css" rel="stylesheet" />
    @using MeuSite.Models;
</head>
<body>
    @ViewBag.idsala
    @using (Html.BeginForm("Filtrar", "arquivobibliotecas", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="tabSUb">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-10 submenu">
                            Filtrar por Tema
                            <select name="idtemasala">
                                <option value=0> Todos </option>
                                @foreach (var item in Model)
                                {
                                    <option value=@item.idTemaSala>@item.nome</option>
                                }
                            </select>

                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10 submenu">
                            Filtrar por Nome
                            <input type="text" name="Nome" class="alert-danger" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="tabSUb">
                        <input type="submit" value="Aplicar" class="btn btn-default" />
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    }
    
</body>
</html>