@{
    ViewBag.Title = "Informações";
}
<h2>@ViewBag.Title</h2>
<h3>FECD - UMA FERRAMENTA PARA ESTUDOS COLABORATIVAS À DISTÂNCIA</h3>

  <p>  O presente trabalho se coloca a apresentar uma ferramenta atual para compartilhamento de estudos por meio da colaboração
 de materiais e de conhecimentos adquiridos, considerando a evolução das tecnologias de desenvolvimento de comunicação, tais como
 a Internet, e sua evolução até os dias atuais, o que resultou na possiblidade de criação de uma tecnologia que permitisse 
 conciliar interesses em informações e tarefas especificas de um grupo de estudos. Este trabalho de conclusão de curso apresenta
 uma breve analise do desenvolvimento da Tecnologia de Informática, e como tal ferramenta foi adquiro um papel significativo na 
 evolução da sociedade, procurando dar mais espaço para o compartilhamento e a colaboração no desenvolvimento de tarefas e ideias.
 O objetivo do corrente trabalho é de criar uma ferramenta que torne possível aplicar uma solução para ajudar a lidar com um problema
 que vem surgindo na vida dos atuais alunos, em meio uma sociedade globalizada em que há um alto fluxo de informações, criando 
 uma central para troca de mensagens, realização de tarefas específicas e divididas por temas específicos, de modo a filtrar 
 informações, a partir da construção de um simples website, para o desenvolvimento dos estudos, criando assim um ambiente integrado
 para a colaboração de conhecimentos.</p>
