.chat {
    position: relative;
    left: 3%;
    width: 82%;
    height: 60%;
    background-color:green; 
    overflow:scroll; 
    overflow-x:hidden;
}
/*.campoDig{
        position: absolute;
        top: 80%;
        left: 60%;
}*/

